<div class="container">
    <div class="contact-header">
        <div class="breadcum">
            <h2>Register Here</h2>
            <button 
                class="button button-delete"
                (click)="goBack()">Back</button>
        </div>
    </div>
    
    <div class="contact-body">
        <div>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <label for="email">Email :
                    <input 
                        type="text"
                        placeholder="email"
                        id="email"
                        formControlName="email">
                </label>
                <br>
                <label for="password">Password :
                    <input 
                        type="text" 
                        placeholder="password" 
                        id="pwd"
                        formControlName="pwd">
                </label>
                <br>
                <button 
                    type="submit"
                    class="button button-view button-form">Register</button>
                <button 
                    type="button" 
                    class="button button-delete button-form"
                    (click)="goBack()">Cancel</button>

            </form>
        </div>
    </div>
</div>


